@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
	font-family: "Roboto",sans-serif;
}
.nav {
    display: flex;
    background-color: #FEFDFF;
    font-family: "Roboto","Trebuchet MS",Helvetica,sans-serif;
    justify-content: flex-end;
    box-shadow: 0px 7px 15px #E0E0E0;
	position: relative;
}
.logo{
    margin-right:auto;
	align-self: center;
}
.button {
    background-color: #FEFDFF;
    padding : 2rem;
	text-align: center;
    
}
.button a {
    color: #262626;
    text-decoration: none;
}

.button a:hover {
    animation-name: linkani;
    animation-duration: 0.25s;
	animation-fill-mode: forwards;
}
.dropdown {
    float: left;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FEFDFF;
    z-index: 1;
}
.dropdown .dropbtn {
    font-size: 16px;  
    border: none;
    outline: none;
    color: #262626;
    padding: 2rem;
    background-color: inherit;
    font-family: inherit;
    margin: 0;
}
.dropdown-content a {
    float: none;
    color: #262626;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
}
.dropdown-content a:hover{
    animation-name: linkani;
    animation-duration: 0.25s;
	animation-fill-mode: forwards;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.article{
    display: flex;
    background-color: #ffff80;
	padding: 40px;
    flex-flow: row;
	flex-wrap:wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
    font-family: "Roboto","Helvetica", sans-serif;
}
.konten {
    display: flex;
    flex-direction:row;
	flex-wrap:wrap;
    justify-content: center;

}
.konten > div {
    display: flex;
    flex-flow: column;
    align-content: center;
    align-items: center;
    text-align: center;
}
.menu{
   
    text-decoration: none;
    border-radius: 25px;
    margin:15px;
    padding:12px;
    width: 130px;
    font-family: 'Helvetica',sans-serif;
    color:#FEFDFF;
    background-color:#00cc66;
    font-weight: bold;
}
.menu:hover{
    background-color: #ff3333;
}
.cek{
    background-color:#ff3333;
    color:#FEFDFF;
    font-weight: bold;
    text-decoration: none ;
    padding : 15px;
    border-radius:25px
}

.cek:hover{
	background-color:#cc1d1d;
}

.bottom{
    display: flex;
    background-color:#ff3333 ;
    margin-top: 40px;
    justify-content: center;
}
.bottom p{
    padding : 50px;
    font-weight: bold;
    color: #FEFDFF;
    text-align:center;
    font-size: 17px;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%;

}

.sticky + .article {
    padding-top: 75px;
}

.sticky + .soalcek {
    padding-top: 120px;
}

@keyframes linkani{
	from {color: #262626;}
	to {color: #00cc66;}
}

.soalcek{
	padding:1rem;
}
